[Desktop Entry]
Name=MOD Logo

X-KDE-PluginInfo-Name=MOD
X-KDE-PluginInfo-Author=MOD
X-KDE-PluginInfo-Email=devel@portalmod.com
X-KDE-PluginInfo-License=LGPLv3
